.App {
  text-align: center;
}

.Paragraph {
  font-size: 30px;
  font-style: trebuchet;
  color: white;
  font-weight: bold;
}

.TitleText {
  font-size: 50px;
  color: black;
  align-self: flex-start;
  padding-left: 30px;
}
